.message {
    background-color: #E3F2FD !important;  /* Light Blue background */
    color: #1A237E !important;  /* Dark Indigo text */
}

.MuiToolbar-root {
    background-color: #b7dcf1 !important;  /* Medium Blue background */
}

.css-h5tjrl {
    background-color: #1fa11f !important;  /* Light Green background */
    color: #d3e6d3 !important;  /* Dark Green text */
}   